body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

#header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    text-align: center;
}

.numbers {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    perspective: 1000px; /* For 3D effect */
}

.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
    opacity: 0; /* Initially hidden */
    transform: rotateY(180deg) scale(0);
    transition: opacity 0.5s, transform 0.5s;
}

.number.visible {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
}

@keyframes spin-in {
    0% {
        transform: rotateY(180deg) scale(0);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg) scale(1);
        opacity: 1;
    }
}

.number.spin {
    animation: spin-in 0.5s forwards;
}


body.dark-mode .number {
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}